

h1{
    margin-left: 80px;
}
.login{
    display: grid;
    place-items:center;
    height: 100vh;
    width: 100%;
}
.login>div>img{
    object-fit: contain;
    height: 150px;
}
.login  button {
    width:400px;
    background-color: rgb(7, 110, 54);
    color: #fcfcfc;
    font-weight: 800;
}

.login > button :hover {
    width: 400px;
    background-color: rgb(9, 151, 73);
    color: #ffffff;
    font-weight: 800;

}